.tableClass{
    border-top-color: grey;
    border-color: white;
    overflow-y: scroll;
    table-layout: fixed;
    height: 100%;
    width: 80%;
    background-color: white;
}





.folderIcon{
    width: 80px;
    text-align: right;

}



