
.form-field {
    position: relative;
    display: inline-block;
}

.icon {
    position: absolute;
    right: 0;
}

.SearchBar {
    margin-top: 30px;
    width: 50%;
  position: absolute;
  background-image: url("../../Img/loupe.png");

  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px;

  font-size: 16px;
  padding: 5px 0px 5px 40px;
  border: 1px solid #ddd;


}

#searchIcon{
  margin-top: 30px;
  width: 700px;
  position: absolute;

}
