.navbarDiv {
    position: absolute;
    left: 50px;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    top: 500px;
    display: flex;
    flex-direction: column;
    background: rgb(77, 77, 77);
}
.menu-item {
    cursor: pointer;
    padding: 5px;
    height: 28px;
    border-bottom: 1px solid rgb(77, 77, 77);

}
.menu-item:hover {
    color: #2980b9;
}